<!DOCTYPE html>

{% include 'head.html.j2' %}

<body>
  <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  {% include 'header.html.j2' %}
  {% include 'drawer.html.j2' %}
  <main class="mdl-layout__content mdl-color--blue-grey-50">
    <div class="mdl-grid demo-content">
      <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
        <div class="mdl-card__media mdl-color-text--blue-grey-50 about-card-header">
          <h4>About service</h4>
        </div>
        <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
          <p><b>빚을 갚지 않는 자들을 위한 서비스</b></p>
          <p>돈을 갚읍시다<br>동아리원 사이의 신뢰 회복을 목적으로 하는 꿈과 희망의 서비스</p>
        </div>
      </div>
    </div>
  </main>
</div>
</body>
